/* styles.css */

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Контейнер для карточек */
main {
    display: flex;
    flex-wrap: wrap; /* Позволяет карточкам переноситься на новую строку */
    gap: 20px; /* Промежуток между карточками */
}

/* Стили для карточек */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(30% - 20px); /* Ширина карточки */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стиль 1 */
.style1 {
    background-color: #f0f0f0;
    color: #333;
}

.style1 .card {
    background-color: #ffffff; /* Цвет фона карточек */
}

.style1 .full-width-section {
    background-color: #ffffff; /* Цвет фона карточек */
}

/* Стиль 2 */
.style2 {
    background-color: #333;
    color: #f0f0f0;
}

.style2 .card {
    background-color: #444; /* Цвет фона карточек */
}

.style2 .full-width-section {
    background-color: #444; /* Цвет фона карточек */
}

.full-width-section {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
